@font-face {

  font-family: 'White Rabbit';
  src: url('http://www.fontsaddict.com/fontface/white-rabbit.TTF');

}
* {

  box-sizing: border-box;

}

body{

	line-height: 150%;
	padding:0;
	margin:0 auto;
	top:0;left:0;right: 0;

}
#confirm{
	text-align: left;
}

#titleimg{

	margin-top: -50px;
}

.prompt{

	position: absolute;
	background-color: black;
	color:#55ff55;
	width:800px;
	text-align: center;
	margin-left: 300px;
	margin-top: -30px;

}

#header{

	width:400px;
	margin-left: 350px;
	text-align: center;
}

#game{

	background-color: black;
	margin-top: 100px;
	width: 500px;
	height: 400px;
	line-height: 150%;
	text-align: center;
	border:5px solid white;
	display: none;

}

#wins,#lose,
#currentword,#guessesleft,
#letters
{
	color:white;
}

#stickmancol{

	position: relative;
	background-color: black;
	margin-top:100px;
	height: 400px;
	width: 500px;
	border:2px solid white;
	display:none;


}
#stickman{

	position: relative;
	height: 380px;
		
}

#winModal,#loseModal
{
	height: 550px;
	width: 500px;
	background-color: #228B22;
	color:black;
	font-size:25px;
}
#loseok,#winok
{
 	background-color: red;

}

#loseclose,#winclose
{
background-color: blue;
}

#loseclose,#loseok,
#winclose,#winok
{
	height: 50px;
	width: 100px;
	text-align: center;
	color:black;
	font-size: 20px;
}

#loseimg,#winimg{
	height: 250px;
	width: 100%;
}

#losevideo
{
	height:250px;
	width: 100%;
}

